doctype html
html(lang='ru')
  head
    title RSS-Reader
    meta(name='description', content='Simple RSS-Reader web-app')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
    each css in htmlWebpackPlugin.files.css
      link(rel='stylesheet' type='text/css' href= css)
  body
    block body
      .jumbotron
        h1.display-4 RSS-Reader
        form.input-group#add-url
          input.form-control(type='text', name='rss-url' placeholder='https://')
          .input-group-append
            button.btn.btn-outline-secondary(type="submit") Add RSS

    each js in htmlWebpackPlugin.files.js
      script(type='text/javascript' src= js)
