doctype html
html(lang='ru')
  head
    title RSS-Reader
    meta(name='description', content='Simple RSS-Reader web-app')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
    each css in htmlWebpackPlugin.files.css
      link(rel='stylesheet' type='text/css' href= css)
  body
    block body
      .navbar.navbar-light.bg-light.bg-light
        a(href='/').navbar-brand Light RSS
      .container-fluid
        .row
          aside.col-12.col-md-5.col-lg-4.col-xl-3
            .add-form.py-4
              label(for='add-url').h6 Add RSS:
              form.input-group#add-url
                input.form-control(type='text', name='rss-url' placeholder='https://')
                .input-group-append
                  button.btn.btn-outline-secondary(type="submit") +
            .list-group
              a(href='#').list-group-item.list-group-item-action.active
                .d-flex.w-100.justify-content-between
                  h5.mb-1 Flex blacks news
                  small 2 hours
                p.mb-1 Description of this interesting feed.
              a(href='#').list-group-item.list-group-item-action
                .d-flex.w-100.justify-content-between
                  h5.mb-1 Flex blacks news
                  small 2 hours
                p.mb-1 Description of this interesting feed.
              a(href='#').list-group-item.list-group-item-action
                .d-flex.w-100.justify-content-between
                  h5.mb-1 Flex blacks news
                  small 2 hours
                p.mb-1 Description of this interesting feed.
          .col-auto
            h2.py-3 All articles:
            ul.list-unstyled.rss-feeds
              li.d-block.media.pb-2.pt-2.border-bottom.border-grey.position-relative
                .media-body
                  h5.mt-0.mb-1 Flex blacks news
                  p.mb-2 Description of this interesting feed.
                  a.stretched-link(href="#") Читать.
              li.d-block.media.pb-2.pt-2.border-bottom.border-grey.position-relative
                .media-body
                  h5.mt-0.mb-1 Flex blacks news
                  p.mb-2 Description of this interesting feed.
                  a.stretched-link(href="#") Читать.
              li.d-block.media.pb-2.pt-2.border-bottom.border-grey.position-relative
                .media-body
                  h5.mt-0.mb-1 Flex blacks news
                  p.mb-2 Description of this interesting feed.
                  a.stretched-link(href="#") Читать.
              li.d-block.media.pb-2.pt-2.border-bottom.border-grey.position-relative
                .media-body
                  h5.mt-0.mb-1 Flex blacks news
                  p.mb-2 Description of this interesting feed.
                  a.stretched-link(href="#") Читать.

    each js in htmlWebpackPlugin.files.js
      script(type='text/javascript' src= js)
